{% extends "base.html" %}

{% block content %}
    <h1>Contact Us</h1>
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.name.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    <form action="/contact" method="post">
        <fieldset>
            <legend>Contact Form</legend>
            <!-- {{ form.hidden_tag() }} -->

            <div style=" font-size: 20px; font-weight: bold; margin-left: 150px;">
                {{ form.name.label }} <br>
                {{ form.name }}
            </div>
            <div style=" font-size: 20px; font-weight: bold; margin-left: 150px;">
                {{ form.email.label }} <br>
                {{ form.email }}
            </div>
            <div style=" font-size: 20px; font-weight: bold; margin-left: 150px;">
                {{ form.message.label }} <br>
                {{ form.message }}
            </div>
            <div style="margin-left: 150px;">
                {{ form.submit }}
            </div>
        </fieldset>
    </form>
{% endblock %}